docs/build
.ipynb_checkpoints
docs/Manifest.toml
src/df_temp.csv
src/EquityWeighting_dfc.csv
src/EquityWeighting_pc.csv
src/EquityWeighting_disc.csv
src/EquityWeighting_pop.csv
src/EquityWeightingVars.csv
src/OverviewAnnualVariables.xlsx
src/RegionalTemperature.csv
src/RegionalTemperature.csv
src/td_totaldiscountedimpacts_novar.csv
src/td_totaldiscountedimpacts_withvar.csv
src/te_totaleffect_ann_yr_novar.csv
src/te_totaleffect_ann_yr_withvar.csv
src/~$OverviewAnnualVariables.xlsx
src/RegionalTemperature.csv
